mat-form-field{
    width: 100%;
}
mat-card-title{
    text-align: center;
}
section{
    margin-top: 20px;
}

a{
    display: block;
    border: 2px;
    color:white;
    align-content: center;
}

.msg{
   
    text-align: center;
    align-items: center;
}
