<section fxLayout="row wrap" fxLayoutAlign="center center" class="home_banner">
    
 

  <div class="banner_content">
      <h2>ECWA Student Ministry </h2>
      
      <h3>International Mission</h3>
      <h3>&</h3>
      <h3>Discipleship Conference 2019</h3>
      <p><span>Theme:</span>A New Down(Isaiah 49:19)</p>
      <p>6th- 10th November, 2019</p>
      <button><a routerLink="/member/register">Register Now..</a></button>
  </div>
  
  
 
</section>

<section fxLayout="row wrap" fxLayoutAlign="center center" >
    
 

    <div fxFlex="50%" fxFlex.lt-sm="100%" class="feature">
        <h2>Venue</h2>
        <h3>Victory Land Institutions</h3>
        <h3>Kwali,Abuja</h3>
    </div>
    
    <div fxFlex="50%" fxFlex.lt-sm="100%" class="feature">
        <h2>Speaker</h2>
        <h3>Pastor O.J. Dickson,PhD</h3>
        <h3>&nbsp;</h3>
    </div>
   
  </section>
  <section fxLayout="row wrap" fxLayoutAlign="center center" >
      <h1>Features</h1>
  </section>
  <section fxLayout="row wrap" fxLayoutAlign="center center" >
  
 

      <div fxFlex="25%" fxFlex.lt-sm="100%" class=" bible feature">
          <h2>&nbsp;</h2>
          <h3>Bible Study</h3>
          <h3>&nbsp;</h3>
      </div>
      
      <div fxFlex="25%" fxFlex.lt-sm="100%" class="worship feature">
          <h2>&nbsp;</h2>
          <h3>Worship</h3>
          <h3>&nbsp;</h3>
      </div>
      <div fxFlex="25%" fxFlex.lt-sm="100%" class=" seminar feature">
          <h2>&nbsp;</h2>
          <h3>Seminar/Workshop</h3>
          <h3>&nbsp;</h3>
      </div>
      
      <div fxFlex="25%" fxFlex.lt-sm="100%" class=" prayer feature">
          <h2>&nbsp;</h2>
          <h3>Prayers & Lots more</h3>
          <h3>&nbsp;</h3>
      </div>
     
    </section>
