section{
    line-height: 2px;
}

.home_banner{
    height: 500px;
    background-image: url("../../assets/bg.jpg");
    background-size: 100% 100%;
    text-align: center;
    margin: 0;
}

.feature{
    text-align: center;
    
    border: 1px solid white;
    
}

.worship{
    background-image: url("../../assets/worship.jpg");
    background-size: 100% 100%;
}

.bible{
    background-image: url("../../assets/worship.jpg");
    background-size: 100% 100%;
}
.prayer{
    background-image: url("../../assets/worship.jpg");
    background-size: 100% 100%;
}

.seminar{
    background-image: url("../../assets/worship.jpg");
    background-size: 100% 100%;
}

.banner_content h2{
    font-size: 50px;
    display :block;
    padding-top:0px;
    
}

.banner_content h3{
    font-size: 35px;
    display :block;
    padding-top:0px;
    
}

.banner_content p{
    font-size: 25px;
}

.banner_content  a,button{
    
    border-radius: 5px;
    font-size: 25px;
    padding: 0px;
    background-color: blueviolet;
    color:white;
    text-decoration: none;
}

@media(max-width: 600px){
    .banner_content h2{
        font-size: 20px;
    }
    .banner_content h3{
        font-size: 18px;
    }
    
    .banner_content p{
        font-size: 15px;
    }
    
    .banner_content  a,button{
        
        border-radius: 5px;
        font-size: 15px;
        padding: 0px;
        background-color: blueviolet;
        color:white;
        text-decoration: none;
    }
    .home_banner{
        height: 300px;
        
        text-align: center;
        margin: 0;
    }
}